/* global */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: #2C81B3;
}

a:hover {
  color: #41A5E0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left !important;
}

/* header */
.header-bar {
  background: #34353C;
  padding: 20px 0;
}

.download {
  position: relative;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  background: #F16F51;
  color: #FFF;
}

.download:before {
  right: -21px;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0;
  content: '';
  background-color: inherit;
  -moz-transform: rotate(45deg) skew(18.435deg, 18.435deg) scale(.53);
  -webkit-transform: rotate(45deg) skew(18.435deg, 18.435deg) scale(.53);
  -ms-transform: rotate(45deg) skew(18.435deg, 18.435deg) scale(.53);
  transform: rotate(45deg) skew(18.435deg, 18.435deg) scale(.53);
}

.download:hover {
  background: #DA5D41;
  color: #FFF;
}

.download:hover:before {
  background: #DA5D41;
}

.top-link {
  margin-top: 10px;
  margin-right: 20px;
  color: #FFF5C1;
}

.top-link:hover {
  color: #F16F51;
}

.logo {
  margin-top: 10px;
  color: #F16F51;
}

.logo span {
  color: #FFF5C1;
}

.logo:hover {
  color: #FFF5C1;
}

.logo:hover span {
  color: #F16F51;
}
.iframe-wrapper {
  float: left;
  margin-top: 12px;
  margin-left: 20px;
}
.header-info {
  padding: 30px 0;
  background: #25272F;
}

.header-title {
  color: #FFF;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

/* content */
.content {

}

.content-block {
  padding: 20px 0;
}
.content-block-inner {
  width: 645px;
  margin: 0 auto;
}

.content-first {
  background: #FFF;
}

.content-second {
  background: #F6F6F6;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}

.content-title {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  color: #F16F51;
}

.content-subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #25272F;
}

.type-inline-block {
  display: inline-block;
}

.style-block {
  padding: 5px 12px;
  margin: 15px 0;
  color: #FFF;
  cursor: pointer;
}

.style-block-one {
  background: #41A5E0;
}

.style-block-two {
  background: #FAC458;
}

.style-block-three {
  background: #FA965A;
}

.style-block-four {
  background: #25B578;
}
.button-close {
  width: 135px;
  margin: 10px auto;
  padding: 5px;
  background: #FAC458;
  cursor: pointer;
}

.form {
  width: 400px;
}

.input,
.textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
}
.textarea {
  height: 150px;
  resize: none;
}
.form-tooltip-border {
  margin-left: -180px;
}

.mytooltip.dropdown-menu-custom {
  padding: 5px;
}
.example-nav ul,
.dropdown-menu{
  overflow: hidden;
  list-style: none;
}
.example-nav li {
  float: left;
}
.example-nav-item {
  display: block;
  padding: 7px;
  background: #41A5E0;
  color: #FFF;
}
.example-nav-item:hover {
  background: #3A9BD4;
  color: #222;
}
.dropdown-menu .example-nav-item {
  border-bottom: 1px solid #3A9BD4;
}

.hidden {
  display: none;
}
.count {
  margin-left: 5px;
}

/**/
.mytooltip-content {
  width: 250px;
  font-size: 14px;
}

.mytooltip-content img {
  margin-bottom: 10px;
}

.my-tooltip {
  padding: 10px;
  width: 120px;
  border-radius: 10px;
}

/**/
.list-title {
  font-weight: 300;
  margin-bottom: 10px;
}

.list {
  padding-left: 20px;
}

.list li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #0AA504;
}

/* footer */
.footer {
  background: #34353C;
  padding: 20px 0;
}

/* code */
code {
  display: inline-block;
  padding: 5px 7px;
  margin-bottom: 3px;
  color: #424242;
  background: #D8D8D8;
  font-size: 14px;
}

.code-number {
  color: #FF920A;
}

.code-string {
  color: #0AA504;
}

.code-boolean {
  color: #B516A9;
}

.code-info {
  margin-left: 10px;
  color: #222;
  font-size: 13px;
}